/* Card output styling */
.cards {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cards .card:nth-child(3) {
  margin-top: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: #2c3e50;
  border: 2px solid #000000;
  border-radius: 15px;
  width: 200px;
  height: 120px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Card content styling */
.card-content h3 {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}

.card-content p {
  font-size: 12px;
  color: #ffffff;
}

.card-content h2 {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.card-content span {
  font-size: 12px;
  color: #ffffff;
}
