.mainheader {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: #2c3e50;
  color: #ecf0f1;
  width: 100%;
  text-align: center;
}
.flex-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.flex-header-2 h1 {
  font-size: 35px;
  font-weight: 500;
}
.flex-header-3 {
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.Showlables .MuiSwitch-root {
  margin-left: 10px;
}
.selectSubsegmentContainer {
  background-color: #d1d9e2;
}
#subsegment {
  text-align: left;
  align-self: center;
}
#select-subsegment[data-shrink="false"] {
  color: black;
  transform: translate(8px, 8px);
}
#select-subsegment[data-shrink="true"] {
  color: rgb(114, 160, 212);
}
.selectSubSegment {
  height: 40px;
  color: black;
}
.pillContainer {
  display: flex;
  gap: 20px;
}

.pillStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background-color: #d1d9e2;
  border-radius: 25px;
  color: black;
  font-family: Arial sans-serif;
  font-weight: bold;
  border: 1px solid #000;
  text-align: center;
}
.colorContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  color: #d1d9e2;
}
.dropdown-container {
  position: relative;
  width: 120px;
  color: #000;
}

.dropdown-header {
  padding: 5px;
  border: 2px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ffffff;
  text-align: center;
  transition: border-color 0.3s;
  font-size: 14px;
}

.dropdown-header:hover {
  border-color: #0056b3;
}

.dropdown-menu {
  padding: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #007bff;
  border-radius: 4px;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdown-item {
  flex: 1 0 28px; /* Set width of items (2 items per row) */
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
  text-align: center; /* Center align text */
  /* width: 30px; */
  height: 30px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-item span {
  display: block;
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.dropdown-item:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}

/* Optional: Remove last border for last item */
.dropdown-item:last-child {
  border-bottom: none;
}
